@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

corpo { fonte: Arial 12pt; }
h1, h2, h3 { família de fontes: 'Pacifico', cursiva; peso da fonte: normal;}
botão { tamanho da fonte: 12pt; preenchimento: 30px; }